body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  hsl(0,0%,95%);
}
.calculator{
  font-family: Arial, sans-serif;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 300px;
  overflow: hidden;
  background-color:  hsl(0,0%,15%);
}
#display{
  margin-top: 2.5vh;
  height: 8vh;
  width: 18vw;
  padding: 15px;
  font-size: 3rem;
  text-align: left;
  margin-left: 0.8vw;
  background-color:  hsl(0, 0%, 20%);
  border: none;
  border-radius: 5px;
  color: white;
}


.btns{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
padding: 25px;
}


button{
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  /* margin: 6px; */
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 33%);
  color: white;
  transition: background-color 0.2s;
}
button:hover{
  background-color: hsl(0,0%,47%);
}
button:active{
  background-color:  hsl(0,0%,50%);
}